$content-width: 1440px;
$desktop-small-width: 1130px;
$tablet-width: 1000px;
$mobile-big-width: 750px;

$color-bg: rgba(0, 0, 0, 0.6);
$color-black: rgb(0, 0, 0);
$color-blue: rgb(41, 0, 221);
$color-gradient-one: rgba(246, 255, 126, 0.096);
$color-gradient-two: rgba(255, 235, 235, 0.74);
$color-white: rgb(255, 255, 255);
$color-grey: grey;
$color-grey-alpha: rgba(173, 170, 170, 0.747);
$color-btn-bg: rgb(0, 0, 97);
$color-white-alpha: rgba(255, 255, 255, 0.522);
$color-white-alphatwo: rgba(255, 255, 255, 0.522);
$color-input: rgba(76, 82, 85, 0.4);
$color-dark-grey: #2d303a;
$color-green: rgb(27, 255, 38);
